# Table of Contents
## 01. Importing Libraries
## 02. Importing dataframes
## 03. Merge dataframes
## 04. Export Dataframe

# 01 Importing libraries

In [1]:
# Importing libraries
import os
import numpy as np
import pandas as pd

# 02 Importing data frames

In [8]:
# Importing checked orders dataframe
df_ords=pd.read_csv(('../02 Data/Prepared Data/orders_checked.csv'),index_col=0)
df_ords.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,first_order
0,2539329,1,1,2,8,NaN,Yes
1,2398795,1,2,3,7,15.0,No
2,473747,1,3,3,12,21.0,No
3,2254736,1,4,4,7,29.0,No
4,431534,1,5,4,15,28.0,No

In [3]:
# Import orders_products_prior data frame
df_ords_prior= pd.read_csv(('../02 Data/Original Data/orders_products_prior.csv'),index_col=False)

In [14]:
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [4]:
df_ords.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3421083 entries, 0 to 3421082
Data columns (total 7 columns):
 #   Column                 Dtype
---  ------                 -----
 0   order_id               int64
 1   user_id                int64
 2   order_number           int64
 3   orders_day_of_week     int64
 4   order_hour_of_day      int64
 5   days_since_last_order  float64
 6   first_order            object
dtypes: float64(1), int64(5), object(1)
memory usage: 208.8+ MB

In [5]:
# Change types for df_ords data set

df_ords['order_id']=df_ords['order_id'].astype('int32')
df_ords['user_id'] = df_ords['user_id'].astype('int32')
df_ords['order_number']=df_ords['order_number'].astype('int8')
df_ords['orders_day_of_week']=df_ords['orders_day_of_week'].astype('int8')
df_ords['order_hour_of_day']=df_ords['order_hour_of_day'].astype('int8')
df_ords['days_since_last_order']=df_ords['days_since_last_order'].astype('float16')

In [6]:
# Check output to see memory usage

df_ords.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3421083 entries, 0 to 3421082
Data columns (total 7 columns):
 #   Column                 Dtype
---  ------                 -----
 0   order_id               int32
 1   user_id                int32
 2   order_number           int8
 3   orders_day_of_week     int8
 4   order_hour_of_day      int8
 5   days_since_last_order  float16
 6   first_order            object
dtypes: float16(1), int32(2), int8(3), object(1)
memory usage: 94.6+ MB

In [7]:
df_ords_prior.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32434489 entries, 0 to 32434488
Data columns (total 4 columns):
 #   Column             Dtype
---  ------             -----
 0   order_id           int64
 1   product_id         int64
 2   add_to_cart_order  int64
 3   reordered          int64
dtypes: int64(4)
memory usage: 989.8 MB

In [15]:
# Change types for df_ords_prior data set 

df_ords_prior['product_id'] =df_ords_prior['product_id'].astype('int32')
df_ords_prior['reordered']=df_ords_prior['reordered'].astype('int8')
df_ords_prior['add_to_cart_order']=df_ords_prior['add_to_cart_order'].astype('int32')
df_ords_prior['order_id']=df_ords_prior['order_id'].astype('int32')

In [16]:
df_ords_prior.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32434489 entries, 0 to 32434488
Data columns (total 4 columns):
 #   Column             Dtype
---  ------             -----
 0   order_id           int32
 1   product_id         int32
 2   add_to_cart_order  int32
 3   reordered          int8
dtypes: int32(3), int8(1)
memory usage: 402.1 MB

In [17]:
df_ords.shape

(3421083, 7)

In [18]:
df_ords_prior.shape

(32434489, 4)

In [19]:
# Merge df_ords and df_ords_prior on "order_id" column
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [20]:
df_merged_large['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

# Exporting Merged Data

In [21]:
# Export Orders_products_combined data to pkl

df_merged_large.to_pickle('../02 Data/Prepared Data/orders_products_combined.pkl')